#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>
#include <dt-bindings/zmk/input_transform.h>

#define DEFAULT 0
#define SETTINGS 1
#define NAV 2

/ {
    /* Behaviors */
    // スクロール設定
    msc {
        acceleration-exponent = <0>;
        time-to-max-speed-ms = <200>;
        delay-ms = <5>;
    };

    behaviors {
        // エンコーダー：キー入力
        rot_kp: sensor_rotate_kp {
            compatible = "zmk,behavior-sensor-rotate-var";
            #sensor-binding-cells = <2>;
            bindings = <&kp>, <&kp>;
        };

        // エンコーダー：マウススクロール(MOVE_Y)
        scroll_move_y: sensor_rotate_msc_for_move_y {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc MOVE_Y(20)>, <&msc MOVE_Y(-20)>;
            tap-ms = <65>;
        };

        // エンコーダー：マウススクロール(MOVE_X)
        scroll_move_x: sensor_rotate_msc_for_move_x {
            compatible = "zmk,behavior-sensor-rotate";
            #sensor-binding-cells = <0>;
            bindings = <&msc MOVE_X(20)>, <&msc MOVE_X(-20)>;
            tap-ms = <65>;
        };

        // レイヤータップ + マウスボタン (Hold: NAVレイヤー, Tap: MB4)
        lt_mb4: layer_tap_mb4 {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            bindings = <&mo>, <&mkp>;
        };

        // トラックボール CPI サイクル切り替え (400 -> 600 -> 900 -> 1200 -> 1600 -> 2100 -> 2800)
        dpi_cycle: dpi_cycle {
            compatible = "zmk,behavior-sensor-attr-cycle";
            #binding-cells = <1>;
            sensor_device = <&trackball>;
            values = <400 600 900 1200 1600 2100 2800>;
            attr = <0>; // PMW3610_ATTR_CPI
            persistant;
            save_delay = <2000>;
            load_delay = <1000>;
        };
    };

    /* キーマップ */
    keymap {
        compatible = "zmk,keymap";

        // DEFAULT レイヤー (通常操作: RMKのカスタマイズを完全移植)
        DEFAULT {
            bindings = <
                // Keys (Upper-right to Lower-left, 12 keys)
                &kp BSPC        &kp PG_UP       &kp B           &none
                &mkp MB3        &kp LC(LA(M))   &kp ESC         &none
                &kp RET         &kp PG_DN       &kp LG(LS(S))   &none

                // Mouse (Left, Right)
                &mkp MB1        &mkp MB2

                // Stick (Up, Left, Down, Right)
                &kp UP          &kp LEFT        &kp DOWN        &kp RIGHT

                // Lever (Upper 3: Prev, Play/Pause, Next / Lower 3: VolDown, Mute, VolUp)
                &kp C_PREV      &kp C_PP        &kp C_NEXT
                &kp C_VOL_DN    &kp C_MUTE      &kp C_VOL_UP

                // Side (Upper-left, Lower-left, Upper-right, Lower-right)
                // Upper-left: Tap MB4 / Hold NAV(2), Lower-left: MB5, Upper-right: MB3, Lower-right: mo SETTINGS(1)
                &lt_mb4 NAV MB4 &mkp MB5        &mkp MB3        &mo SETTINGS

                // Back (Upper, Lower)
                &bt BT_SEL 0    &bt BT_SEL 1
            >;

            // Encoder (Head: Zoom, Chest: Vertical Scroll, Leg: Horizontal Scroll)
            sensor-bindings = <&rot_kp LC(MINUS) LC(PLUS)>, <&scroll_move_y>, <&scroll_move_x>;
        };

        // SETTINGS レイヤー (トラックボールスクロール & BLE設定 & CPI設定)
        SETTINGS {
            bindings = <
                // Keys
                &bt BT_NXT      &trans          &trans          &none
                &bt BT_CLR      &trans          &trans          &none
                &bt BT_PRV      &dpi_cycle (-1) &dpi_cycle 1    &none

                // Mouse
                &trans          &trans

                // Stick
                &trans          &trans          &trans          &trans

                // Lever
                &trans          &trans          &trans
                &trans          &trans          &trans

                // Side (Upper-left: CPI+, Lower-left: CPI-)
                &dpi_cycle 1    &dpi_cycle (-1) &trans          &trans

                // Back
                &bt BT_CLR_ALL  &bt BT_CLR
            >;

            sensor-bindings = <&rot_kp LEFT RIGHT>, <&scroll_move_y>, <&scroll_move_x>;
        };

        // NAV レイヤー (十字スティックがページ・カーソル移動)
        NAV {
            bindings = <
                // Keys
                &trans          &trans          &trans          &none
                &trans          &trans          &trans          &none
                &trans          &trans          &trans          &none

                // Mouse
                &trans          &trans

                // Stick (Up: PgUp, Left: Home, Down: PgDn, Right: End)
                &kp PG_UP       &kp HOME        &kp PG_DN       &kp END

                // Lever
                &trans          &trans          &trans
                &trans          &trans          &trans

                // Side
                &trans          &trans          &trans          &trans

                // Back
                &trans          &trans
            >;

            sensor-bindings = <&rot_kp LC(MINUS) LC(PLUS)>, <&scroll_move_y>, <&scroll_move_x>;
        };
    };
};
